.Projects span, .AboutMe span {
    font-weight: 600;
}

.Projects a.link, .AboutMe a.link {
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-color: #6DB1BF;
    -webkit-text-decoration-color: #6DB1BF; /* old Safari fallback */
    text-decoration-thickness: 2px;
    text-underline-offset: 0.20rem;
    transition: all ease 200ms;
}

.Projects a.link:hover, .AboutMe a.link:hover {
    color: #6DB1BF;
}