@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-in {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ShowMenu{
    animation: 300ms fade-in forwards;
}

.Menu .ShowMenuButton {
    animation: 300ms spin-in forwards;
}

.Menu a::after {
    content: '';
    background-color: #6DB1BF;
    height: 8%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    transition: all 400ms ease-in-out;
}

.Menu a:hover::after {
    width: 100%;
}